@font-face {
    font-family: 'orotundheavy';
    src: url('Orotund-webfont.eot');
    src: url('Orotund-webfont.eot?#iefix') format('embedded-opentype'),
         url('Orotund-webfont.woff2') format('woff2'),
         url('../fonts/Orotund-webfont.woff') format('woff'),
         url('Orotund-webfont.ttf') format('truetype'),
         url('Orotund-webfont.svg#orotundheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orotund_capitalsheavy';
    src: url('OrotundCaps-webfont.eot');
    src: url('OrotundCaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('OrotundCaps-webfont.woff2') format('woff2'),
         url('../fonts/OrotundCaps-webfont.woff') format('woff'),
         url('OrotundCaps-webfont.ttf') format('truetype'),
         url('OrotundCaps-webfont.svg#orotund_capitalsheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}


:root {
  --contrast-color: #cc3333;
  --contrast-color_light: #fadfdf;
  --contrast-color_mid: #fadfdf;
  --contrast-color_dark: #881010;

  --background-color_dark: #fffcf5;
}

html {
  font-size: calc(calc(3vw/2.8) + 13.7px); /*Linear algebra! ax+b=0 */
}

@media all and (min-width:960px) {
  html {
    font-size: 24px;
  }
}

@media all and (max-width:400px) {
  html{
    font-size: 18px;
    }
  }

@media all and (min-width:960px) {
  main {
    display: grid;
    grid-template-columns: 1fr /*calc(36vw - 5rem) /*minmax(calc(36vw - 8rem), 1fr)*/
                 [content] 28em
                           1fr;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 0;
  }
  main > * {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
  }
  #page__header, #page__footer {
    margin: 0 auto;
  }
  .portfolio {
    grid-column: 1 / 4;
  }
  aside {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: right;
    margin-right: 1em;
    grid-row: span 3;
  }
  .author {
    display: inherit;
  }
}

body {
  font-family: 'Crimson Text', Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  padding: 0  4vw;

  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

main > *,
hr {
  max-width: 28rem;
}

article > * {
  max-width: 100%;
}

footer {
  margin-bottom: 2rem;
}

.author {
  display: none;
}

/* Navigation */
#main-nav {
  margin-bottom: 1rem;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  margin-bottom: .4rem;
  line-height: 1;
  display: flex;
  list-style: none;
  align-items: baseline;
}

.main-nav__item {
  font-size: 2rem;
  margin: 0 .7rem 0 0;
}

.main-nav__item:not(:last-child):after {
  content: '\002E';
  font-family: 'orotundheavy', Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: var(--contrast-color);
  padding-left: .7rem;
  font-size: 3rem;
  position: relative;
  top: -0.3rem;
}

.main-nav__item a {
  font-family: 'orotundheavy', Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: var(--contrast-color);
  text-decoration: none;
  text-transform: lowercase;
}
.main-nav__item a:hover {
  text-decoration: underline;
}

#page__header, #page__footer {
  max-width: 28rem;
}

#page__header:after,
#page__footer:before {
    display: block;
    content: '';
    position: relative;
    width: 100%; /* Or set rem value? */
    height: 2px;
    background-color: var(--contrast-color);
    background-clip: content-box;
    padding: 1px 0;
    border-top: 1px solid var(--contrast-color);
    border-bottom: 1px solid var(--contrast-color);
}

  #page__header:after {
    margin-bottom: 2rem;
  }

  #page__footer:before {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

/* Article header metadata */
.article__meta {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0.4rem;
  color: #444;
  /*font-feature-settings: 'smcp' 1,'c2sc' 1;
  font-variant: small-caps;
  text-transform: lowercase;*/
  font-size: .8rem;
  font-variant-numeric: ordinal;
}

.article__meta > li {
  margin: 0 .3rem 0 0;
}

.article__meta > li:not(:last-child):after {
  content: '|';
  margin-left: .1rem;
  position: relative;
  color: #ccc;
}

/* links */
.linklist {
  display: flex;
  list-style: none;
  padding: 0;
}

.linklist li {
  margin-right: 1rem;
}

/* Text */

.logo {
  font-family: 'orotundheavy', Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  text-transform: none;
  font-weight: normal;
  font-size: 3.6rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
}

article {
  margin-bottom: 2rem;
}

article hr {
  width: 90%;
  margin-bottom: 2rem;
}

p, blockquote, ul, ol, cite,
pre,
figure, figcaption,
.article__header, .images  {
  margin-top: 0;
  margin-bottom: 1rem;
}

article ul li {
  list-style: none;
}

article ul:not(.article__meta) li::before {
  content: "•";
  position: absolute;
  margin-left: -1rem;
}

li {
  margin-top: 0;
  margin-bottom: .7rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-top: 2rem;
  margin-bottom: .6rem;
}

.leader {
  font-family: 'orotundheavy', Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  text-transform: capitalize;
  margin: 0;
  line-height: 1.4;
}

.leader::before {
  content: 'x';
  font-variant: small-caps;
  text-transform: lowercase;
  font-family: 'orotundheavy', Garamond, serif;
  color: var(--contrast-color);
  font-size: 1em;
  display: inline-block;
  top: -1rem;
  margin-left: -1.4em;
  width: 1.4em;
}

blockquote {
  border-left: 2px dotted #ccc;
  font-size: 90%;
  margin-left: 0;
  padding-left: 1rem;
}

blockquote + cite {
  margin-left: 2rem;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

aside {
  /*border: 1px solid #ccc;*/
  padding: .6em;
  font-size: 80%;
  color: #555;
}
aside > * {
  margin-top: 0;
}
aside > *:last-child {
  margin-bottom: 0;
}

aside img {
  max-width: 100%;
}
aside {
  grid-row: span 3;
}
figcaption, figure {
  margin-left: 0;
  margin-right: 0;
}

code {
  font-size: .75em;
}

/* ----------- *\
Override Prism styles
\* ----------- */
pre[class*="language-"] code {
  white-space: pre-line;
}

pre[class*="language-"] {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}
/* ----------- *\
End override Prism styles
\* ----------- */

.portfolio-list {
  columns: 3 12rem;
}

  /* links */
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: var(--contrast-color);
}
a:focus {
  border-bottom: 1px solid;
  background: var(--contrast-color_mid);
}

a:hover {
  border-bottom: 1px solid;
  background: var(--contrast-color_light);
}

a:active {
  background: var(--contrast-color_mid);
}

a:visited {
  color: var(--contrast-color_dark);
}

h1 a:link {
  color: #000;
}
h1 a:hover {
  color: var(--contrast-color);
}

/* Comments */
.comments h4 {
  text-transform: none;
  letter-spacing: normal;
  margin-top: 0.4rem;
  margin-bottom: .4rem;
}

.comment__meta {
  color: #444;
  font-size: .8rem;
  margin-bottom: .2rem;
}
